

body {
    min-height: 100vh;
    background-color: rgb(196, 247, 101);
    font-family: Nunito, 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 div {
  z-index: 1;
 }

 header {
 position: sticky;
 width: 100%;
  background-color: rgba(32, 182, 100, 0.808);
  top: 0;
  left:0;
  text-align: center;
 }

 .position {
    width: 150px;
    height: 150px;
    display: block;
    color: whitesmoke;
    font-size: 1.2em;
    margin: 0 !important; }

 #container {
     position: relative;
     display: block;
     background-color: #CCCCFF;
     margin: 50px auto;
     width:  400px;
     height: 400px;
     z-index: 1;
 }

 #static {
    background-color: #F1DDCF;
    position: static;
 }

 #relative1 {
    background-color: aqua;
    position: relative;
    left: -150px;
 }

 #relative2 {
    background-color: rosybrown;
    position: relative;
    left: -150px;
    bottom: -50px;
 }
#relative3 {
    background-color: #8B008B;
    position: relative;
    left: -300px;
    top: -50px;   
}

#relativo {
    background-color: yellowgreen;
    position: absolute;
    top: 0;
    transform: scaleX(-1);
    opacity: 0.2;
}

#absolute {
    background-color: deeppink;
    position: absolute;
    top:0;
    right: 0;
}

  #fixed {
    position: fixed;
    background-color: rgba(25, 25, 112, 0.5);
    bottom: 5%;
    right: 0;
  }

  #fixed2 {
    position: fixed;
    background-color: #F77FBE;
    top: 30%;
    right: 30%;
  }

  #fixed3 {
    position: fixed;
    background-color: #FFC0CB;
    top: 40%;
    left: 70%;
  }

  #fixed4 {
    position: fixed;
    background-color: rgba(25, 25, 112, 0.5);
    bottom: 17%;
    left:0; 
  }

  
  #fixed5 {
    position: fixed;
    background-color: rgba(235, 129, 129, 0.5);
    top: 50%;
    left: 5%;
  }

  
  #fixed6 {
    position: fixed;
    background-color: rgba(105, 194, 201, 0.7);
    top: 25%;
    left: 20%; 
  } 

  #fixed7 {
    position: fixed;
    background-color: rgba(153, 82, 211, 0.7);
    top: 40%;
    right: 77%; 
  } 
  
 #absoluto {
     background-color: transparent;
     position: absolute;
     width: 55%;
     font-size: 1em;
     top: -20px;
     left: 12px;
     z-index: 1;   
 }



 #absolute2 {
    background-color: #FFCBA4;
    position: absolute;
    bottom: 5%;
    right: -85%;
}

 article {
    width: 95%;
    position: sticky;
    background-color: transparent;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: left;

 }

 code {
    color: black;
    font-size: 1em;
    font-weight: 600;
 }

 span {
  color: whitesmoke;
 }

ul {
  list-style-type: none;
}


